
*.config
*.vsidx
*.db
*.json
*.ipch
*.dll
*.exp
*.lib
*.pdb
*.exe
*.ilk
*.manifest
*.db-shm
*.db-wal
*.opendb
*.testlog
DeviceManagerLib/.vs/DeviceManagerLib/v17/.suo
*.obj
*.recipe
*.log
*.tlog
*.idb
DeviceManagerLib/DeviceManagerLib/DeviceManagerLib/x64/Debug/DeviceManagerLib.vcxproj.FileListAbsolute.txt
DeviceManagerLib/DeviceManagerLib/x64/Debug/DeviceManagerLib.vcxproj.FileListAbsolute.txt
DeviceManagerLib/DeviceManagerLibTest/x64/Debug/DeviceManagerLibTest.vcxproj.FileListAbsolute.txt
*.idx
*.o
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/debug/moc_DeviceControlWidget.cpp
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/debug/moc_DeviceTreeWidget.cpp
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
*.stash
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/debug/moc_PerformanceWidget.cpp
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/debug/moc_predefs.h
*.Release
*.Debug
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/ui_mainwindow.h
DeviceManagerUi/build-DeviceManager-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/Makefile
